/*

TemplateMo 558 Klassy Cafe

https://templatemo.com/tm-558-klassy-cafe

*/

/* ---------------------------------------------
Table of contents
------------------------------------------------
01. font & reset css
02. reset
03. global styles
04. header
05. banner
06. features
07. testimonials
08. contact
09. footer
10. preloader
11. search
12. portfolio

--------------------------------------------- */
/* 
---------------------------------------------
font & reset css
--------------------------------------------- 
*/
@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");

---------------------------------------------
reset
--------------------------------------------- 

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, div
pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q,
s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
figure, header, nav, section, article, aside, footer, figcaption {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}
/* .container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10;
} 

.box {
  width: 200px;
  height: 200px;
  border: 1px solid black;
  margin: 20px;
}  */


.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clearfix {
  display: inline-block;
}

html[xmlns] .clearfix {
  display: block;
}

* html .clearfix {
  height: 1%;
}

/* ul, li {
  padding: 0;
  margin: 0;
  list-style: none;
} */

header, nav, section, article, aside, footer, hgroup {
  display: block;
}

* {
  box-sizing: border-box;
}

html, body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  background-color: #fff;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

a {
  text-decoration: none !important;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0px;
  margin-bottom: 0px;
}

ul {
  margin-bottom: 0px;
}

p {
  font-size: 14px;
  line-height: 25px;
  color: #2a2a2a;
}

.btn{

  background: darkslategray;
  border-radius: 999px;
  box-shadow: darkslategray 0 10px 20px -10px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-all;
  border: 0;
}


/* 
---------------------------------------------
global styles
--------------------------------------------- 
*/
/* html,
body {
  background: #fff;
  font-family: 'Poppins', sans-serif;
}

::selection {
  background: #fb5849;
  color: #fff;
}

::-moz-selection {
  background: #fb5849;
  color: #fff;
} */

/* @media (max-width: 991px) {
  html, body {
    overflow-x: hidden;
  }
  .mobile-top-fix {
    margin-top: 30px;
    margin-bottom: 0px;
  }
  .mobile-bottom-fix {
    margin-bottom: 30px;
  }
  .mobile-bottom-fix-big {
    margin-bottom: 60px;
  }
} */


.section-heading h2 {
  line-height: 40px;
  margin-top: 20px;
  margin-bottom: 25px; 
  font-size: 26px;
  font-weight: 600;
  color: darkslategray;
}


/*
---------------------------------------------
chefs
---------------------------------------------
*/

#chefs {
  padding-top: 10px;
 padding-bottom: 100px;
 padding-left: 360px;

}

#chefs .section-heading {
  margin-bottom: 40px;
  text-align: center;

  
}

#chefs .chef-item {  
  text-align: center;
  border: 5px solid #afafaf;
  padding: 15px;
  transition: all .5s;
  border-radius: 10px;

  

}

#chefs .chef-item:hover {
  border-color: darkslategray;
}

#chefs .chef-item:hover .down-content h4 {
  color: #fb5849;
}

#chefs .chef-item .thumb {
  position: relative;
}

#chefs .chef-item .thumb img {
  border-radius: 10px;
  width: 100%;
  overflow: hidden;
  position: relative;
}

#chefs .chef-item .thumb .overlay {
  position: absolute;
  background-color: #2a2a2a;
  border-radius: 3px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  transition: all .3s;
}


#chefs .chef-item:hover .overlay {
  opacity: .9;
  visibility: visible;
}


#chefs .chef-item .down-content {
  padding: 20px 0px;
}

#chefs .chef-item .down-content h4 {
  transition: all .3s;
  font-size: 20px;
  font-weight: 700;
  color: #2a2a2a;
}

#chefs .chef-item .down-content span {
  font-size: 14px;
  color: #2a2a2a;
}


